<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  
  This file is merged on top of the IIS application host file found at:
  IIS
  C:\Windows\System32\inetsrv\config\applicationHost.config
  IIS Express
  C:\Users\[UserName]\Documents\IISExpress\config\applicationhost.config
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: http://nwebsec.codeplex.com/wikipage?title=Configuration -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=3.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- webpages:Version - Use version 3 of the Razor engine (See http://blogs.msdn.com/b/webdev/archive/2013/07/10/how-does-vs-determine-which-version-of-razor-engine-to-use-when-editing-razor-webpage-files.aspx). -->
    <add key="webpages:Version" value="3.0.0.0" />
    <!-- webpages:Enabled - Prevents .cshtml or .vbhtml files in the Views folder from being directly accessible from a web browser. Important from a security standpoint that this is always false. (See http://stackoverflow.com/questions/4886095/what-is-the-function-of-webpagesenabled-in-mvc-3-web-config). -->
    <add key="webpages:Enabled" value="false" />
    <!-- ClientValidationEnabled - Enable client side JavaScript validation. -->
    <add key="ClientValidationEnabled" value="true" />
    <!-- UnobtrusiveJavaScriptEnabled - Enable client side JavaScript validation using jQuery Validate. -->
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Turn on/off ELMAH.MVC handler. -->
    <add key="elmah.mvc.disableHandler" value="false" />
    <!-- By default HandleErrorAttribute() is set as global filter, to disable it, set value to "true". -->
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <!-- Secure the elmah route with authentication. -->
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <!-- Ignore the default route and use the elmah.mvc.route setting below. -->
    <add key="elmah.mvc.IgnoreDefaultRoute" value="true" />
    <!-- In case of authentication is turned on, you can specify exact roles of user that have access (eg. "Adminostrator"). -->
    <add key="elmah.mvc.allowedRoles" value="*" />
    <!-- In case of authentication is turned on, you can specify exact users that have access (eg. "johndoe"). -->
    <add key="elmah.mvc.allowedUsers" value="*" />
    <!-- Configure ELMAH.MVC access route. Note that you should probably change this to something else. 
         This is to add a little security through obscurity. hackers can't hack your elmah page if they 
         don't know where it is.
         Note: If you change this value (Which you should) don't forget to also change the route in RouteConfig.cs. -->
    <add key="elmah.mvc.route" value="elmah" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <caching>
      <outputCacheSettings>
        <!-- outputCacheSettings - Controls how controller actions cache content in one central location. 
             You can also modify the web configuration file without recompiling your application. -->
        <outputCacheProfiles>
          <!-- Cache the robots.txt route for a day. -->
          <add name="RobotsText" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the sitemap.xml route for a day. -->
          <add name="SitemapXml" duration="86400" location="Any" varyByParam="none" />

          <!-- Cache the 404 Not Found route for a day. -->
          <add name="NotFound" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the 401 Unauthorized route for a day. -->
          <add name="Unauthorized" duration="86400" location="Any" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true" targetFramework="4.5.1" />
    <!-- mode - Turn on/off custom error pages -->
    <customErrors mode="Off" />
    <!-- httpOnlyCookies - Ensure that external script cannot access the cookie. -->
    <!-- requireSSL - Ensure that the cookie can only be transported over SSL. -->
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <!-- enableVersionHeader - Remove the ASP.NET version number from the response headers. Added security through obscurity. -->
    <!-- maxRequestLength="4096" - The maximum length of the url request in kilobytes. -->
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <!-- machineKey - If your this site is deployed to a server cluster and you use MVC anti-forgery tokens, generate a machine key from IIS and enter it here:
         See http://blogs.msdn.com/b/amb/archive/2012/07/31/easiest-way-to-generate-machinekey.aspx-->
    <!--<machineKey decryptionKey="[YOUR DECRYPTION KEY GOES HERE]" 
                validationKey="[YOUR VALIDATION KEY GOES HERE]"/>-->
    <!-- cookieName - Sets the name of the ASP.NET session cookie (Defaults to 'ASP.NET_SessionId'). -->
    <sessionState cookieName="s" />
    <httpHandlers>
      <add path="glimpse" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <!-- Custom error pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error/Unauthorized" />
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
    </httpErrors>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=3.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />

      <!-- By default any URL with a file extension is assumed to be a static file and MVC routing is not used. 
           Here we enable MVC routing for robots.txt and sitemap.xml files. -->
      <add name="RobotsText" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SitemapXml" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- httpCompression - GZip compress static file content. Overrides the server default which only compresses static files over 2700 bytes.
         See http://zoompf.com/blog/2012/02/lose-the-wait-http-compression and
         http://www.iis.net/configreference/system.webserver/httpcompression -->
    <!-- minFileSizeForComp - The minimum file size to compress. -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />

        <!-- Compress XML files -->
        <add mimeType="application/xml" enabled="true" />
        <!-- Compress JavaScript files -->
        <add mimeType="application/javascript" enabled="true" />
        <!-- Compress JSON files -->
        <add mimeType="application/json" enabled="true" />
        <!-- Compress SVG files -->
        <add mimeType="image/svg+xml" enabled="true" />
        <!-- Compress RSS feeds -->
        <add mimeType="application/rss+xml" enabled="true" />
        <!-- Compress Atom feeds -->
        <add mimeType="application/atom+xml" enabled="true" />

        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />

        <!-- Compress ICO icon files (Note that most .ico files are uncompressed but there are some that can contain PNG compressed images. If you are doing this, remove this line). -->
        <add mimeType="image/x-icon" enabled="true" />
        <!-- Compress XML files -->
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/xml; charset=UTF-8" enabled="true" />
        <!-- Compress JavaScript files -->
        <add mimeType="application/javascript" enabled="true" />
        <!-- Compress JSON files -->
        <add mimeType="application/json" enabled="true" />
        <!-- Compress SVG files -->
        <add mimeType="image/svg+xml" enabled="true" />
        <!-- Compress EOT font files -->
        <add mimeType="application/vnd.ms-fontobject" enabled="true" />
        <!-- Compress TTF font files - application/font-ttf will probably be the new correct MIME type. IIS still uses application/x-font-ttf. -->
        <!--<add mimeType="application/font-ttf" enabled="true" />-->
        <add mimeType="application/x-font-ttf" enabled="true" />
        <!-- Compress OTF font files - application/font-opentype will probably be the new correct MIME type. IIS still uses font/otf. -->
        <!--<add mimeType="application/font-opentype" enabled="true" />-->
        <add mimeType="font/otf" enabled="true" />
        <!-- Compress RSS feeds -->
        <add mimeType="application/rss+xml" enabled="true" />
        <add mimeType="application/rss+xml; charset=UTF-8" enabled="true" />

        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <httpProtocol>
      <customHeaders>
        <!-- X-Powered-By - Remove the HTTP header for added security and a slight performance increase. -->
        <clear />
        <!-- X-UA-Compatible - Ensure that IE and Chrome frame is using the latest rendering mode. Alternatively, use the HTML meta tag X-UA-Compatible "IE=edge" -->
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <staticContent>
      <!-- clientCache - Enable client caching of static files like images. By default each static file is given an ETag (like a fingerprint).
           See http://www.iis.net/configreference/system.webserver/staticcontent/clientcache -->
      <!-- cacheControlCustom - Set the Cache-Control HTTP header to a public cache so it is cached by the browser and any proxies. -->
      <!-- cacheControlMode=UseMaxAge - Adds a Cache-Control: max-age=<nnn> header to the response based on the value specified in the CacheControlMaxAge attribute. -->
      <!-- cacheControlMaxAge - Set the maximum age to one year. -->
      <!-- setEtag=false - Specifies whether the HTTP ETag header is calculated and set. The ETag header is used for web cache validation,
           and enables a Web server to not have to send a full response if no changes have been made to the content. Disabling ETags 
           causes browsers to use the Last-Modified HTTP header to determine if it has the latest version of the file or not.
           Note: if using < IIS8, add the following line to customHeaders <add name="ETag" value=""/> to have the same effect. -->
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" setEtag="false" />

      <!-- MIME types - Add some missing MIME types and also modify others to be more up to date. -->
      <!-- .js - JavaScript files are served as application/x-javascript in IIS 7.5 and below. Use the correct MIME type of application/javascript. See http://stackoverflow.com/questions/9664282/difference-between-application-x-javascript-and-text-javascript-content-types. -->
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <!-- .json - IIS does not have a JSON MIME type by default. -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <!-- .rss - IIS does not have a RSS MIME type by default. Add the optional charset to the RSS MIME type. See http://www.rssboard.org/rss-mime-type-application.txt. -->
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <!-- .html - Add the optional charset to the HTML MIME type. -->
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <!-- .xml - Add the optional charset to the XML MIME type. -->
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Video - IIS 7.5 and below does not have these MIME types by default. -->
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".m4v" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <!-- HTML5 Audio - IIS 7.5 and below does not have these MIME types by default. -->
      <remove fileExtension=".oga" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <remove fileExtension=".spx" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <!-- .svgz - IIS 7.5 does not have a compressed SVG MIME type by default. -->
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- Web Fonts -->
      <!-- .eot - Served as application/octet-stream. Use the correct MIME type of application/vnd.ms-fontobject. -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <!-- .ttf - Served as application/octet-stream. Use the correct MIME type of application/application/x-font-ttf. -->
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <!-- .ttc - IIS does not have a TTC MIME type by default. -->
      <remove fileExtension=".ttc" />
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
      <!-- .otf - IIS does not have a OTF MIME type by default. -->
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <!-- .woff - Served as font/woff. Use the correct MIME type of application/x-font-woff. -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <!-- .webp - IIS does not have a WEBP MIME type by default. -->
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <!-- .appcache - IIS does not have a appcache MIME type by default. -->
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <!-- .manifest - IIS does not have a manifest MIME type by default. -->
      <remove fileExtension=".manifest" />
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- Enable gzip and deflate HTTP compression. See http://www.iis.net/configreference/system.webserver/urlcompression
         doDynamicCompression - enables or disables dynamic content compression at the site, application, or folder level.
         doStaticCompression - enables or disables static content compression at the site, application, or folder level. 
         dynamicCompressionBeforeCache - specifies whether IIS will dynamically compress content that has not been cached. 
                                         When the dynamicCompressionBeforeCache attribute is true, IIS dynamically compresses 
                                         the response the first time a request is made and queues the content for compression. 
                                         Subsequent requests are served dynamically until the compressed response has been 
                                         added to the cache directory. Once the compressed response is added to the cache 
                                         directory, the cached response is sent to clients for subsequent requests. When 
                                         dynamicCompressionBeforeCache is false, IIS returns the uncompressed response until 
                                         the compressed response has been added to the cache directory. 
                                         Note: This is set to false in Debug mode to enable Browser Link to work when debugging.
                                         The value is set to true in Release mode (See web.Release.config).-->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <!-- allowRemoteAccess - Allow remotely connected users to access the elmah page. -->
    <security allowRemoteAccess="true" />
  </elmah>
  <!-- glimpse - Navigate to {your site}/glimpse and turn on Glimpse to see detailed information about your site.
                 (See http://getglimpse.com/ for a video about how this helps with debugging).
                 You can also install addons for Glimpse to see even more information. E.g. Install the Glimpse.EF6
                 NuGet package to see your SQL being executed (See http://getglimpse.com/Extensions for all Glimpse extensions).
                 For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
                 or access {your site}/glimpse for even more details and a Configuration Tool to support you. 
                 Note: To change the glimpse URL, change the value in endpointBaseUri and also the glimpse URL under 
                 httpHandlers and handlers sections above. -->
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/glimpse">
  </glimpse>
  <!-- glimpse Security - If you want to enable glimpse in your release build. Open Web.Release.config and 
                          comment out where we turn off glimpse. Now uncomment the following config to 
                          only allow an ASP.NET role with the name Administrator (Or whatever role you want 
                          to grant access) access to it. (See http://blog.getglimpse.com/2013/12/09/protect-glimpse-axd-with-your-custom-runtime-policy/
                          for more information). -->
  <!--<location path="glimpse">
    <system.web>
      <authorization>
        <deny users="*"/>
        <allow roles="Administrator"/>
      </authorization>
    </system.web>
  </location>-->
  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
    </httpHeaderSecurityModule>
  </nwebsec>
</configuration>