<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configure application settings in appsettings.json. See http://go.microsoft.com/fwlink/?LinkId=786380 -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- X-Powered-By - Remove the HTTP header for added security and a slight performance increase. -->
        <clear />
        <!--#if (Azure)-->
        <!-- Arr-Disable-Session-Affinity - Disable the Application Request Routing (AAR) IIS extension
                                            (See https://azure.microsoft.com/en-gb/blog/disabling-arrs-instance-affinity-in-windows-azure-web-sites/). -->
        <add name="Arr-Disable-Session-Affinity" value="true" />
        <!--#endif-->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength - Specifies the maximum length of content in a request, in bytes. The default value is 30000000 (~28.6 MB) and has
                                       been reduced to 1048576 (1 MB). This setting is for IIS while the httpRuntime maxRequestLength setting is
                                       for ASP.NET, you need to set both to the same value or the smaller number wins (See http://stackoverflow.com/questions/6327452/which-gets-priority-maxrequestlength-or-maxallowedcontentlength). -->
        <!-- maxQueryString - Specifies the maximum length of the query string, in bytes. The default value is 2048. This setting is for IIS while the
                              httpRuntime maxQueryStringLength setting is for ASP.NET, you need to set both to the same value. -->
        <!-- maxUrl - Specifies maximum length of the URL, in bytes. The default value is 4096. This setting is for IIS while the
                      httpRuntime maxUrlLength setting is for ASP.NET, you need to set both to the same value. -->
        <requestLimits maxAllowedContentLength="1048576" maxQueryString="2048" maxUrl="4096" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>