@{
    ViewBag.Title = "About";
    ViewBag.Description = "The ASP.NET MVC Boilerplate about page.";
    ViewBag.Author = "Muhammad Rehan Saeed";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@RehanSaeedUK");
    ViewBag.OpenGraph = new OpenGraphBusiness(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
        new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
        {
            Email = "email@example.com",
            Phone = "111-222-333-444",
            Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
        },
        new OpenGraphLocation(51.5286417, -0.1015987))
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>

<p>@ViewBag.Description</p>
