// Fix the Bootstrap font path so it points to wwwroot/fonts instead of wwwroot/fonts/bootstrap.
$icon-font-path: '../fonts/';

// Import the bootstrap SASS style-sheet so that it can be customized and variables overridden here.
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-bottom: 20px;
  padding-top: 50px;
}

// Wrapping element
// Set some basic padding to keep content from hitting the edges
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

// Carousel
.carousel-caption {
  p {
    font-size: 20px;
    line-height: 1.4;
  }
}
// Hide captions for smaller screens.
@media (min-width: 767px) {
  .carousel-caption {
    display: none;
  }
}
