<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectDirectoryPath" value="C:\GitHub\ASP.NET-MVC-Boilerplate\Source\MVC6\Boilerplate.AspNetCore.Sample"/>
    <add key="TempDirectoryPath" value="C:\Temp\Boilerplate.AspNetCore.Sample-"/>
  </appSettings>
</configuration>