<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectPath" value="C:\Git\ASP.NET-MVC-Boilerplate\Source\MVC6\Boilerplate.AspNetCore.Sample\Boilerplate.AspNetCore.Sample.xproj"/>
    <add key="TempDirectoryPath" value="D:\Temp"/>
  </appSettings>
</configuration>