@{
    ViewBag.Title = "Unexpected Error";
    ViewBag.Description = "Well, this is embarrassing. An error occurred while processing your request. Rest assured, this problem has been logged and hamsters have been released to fix the problem.";
}

<div class="jumbotron text-center">
    <header>
        <h1><i class="fa fa-exclamation-circle text-danger"></i> @ViewBag.Title</h1>
    </header>
    <p>@ViewBag.Description</p>
    <a class="btn btn-primary btn-lg" href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span class="fa fa-home"></span> Take me home</a>
</div>