<configuration>
  <!-- This file is only relevant to the full .NET Framework and not .NET Core. For .NET Core, the same settings are
       specified in project.json -->
   <runtime>
     <!-- Concurrent - Specifies whether the common language runtime runs garbage collection on a separate thread.
                     See https://msdn.microsoft.com/en-us/library/yhwwzef8%28v=vs.110%29.aspx. -->
     <gcConcurrent enabled="true"/>
     <!-- Server - Specifies whether the common language runtime runs server garbage collection.
                   See https://msdn.microsoft.com/en-us/library/ms229357%28v=vs.110%29.aspx. -->
     <gcServer enabled="true"/>
     <!-- UseRandomizedStringHashAlgorithm - Determines whether the common language runtime calculates hash codes for
         strings on a per application domain basis. Only applicable to .NET, .NET Core has this turned on by default. -->
     <UseRandomizedStringHashAlgorithm enabled="1" />
   </runtime>
</configuration>