@{
    ViewBag.Title = "About";
    ViewBag.Description = "The ASP.NET MVC Boilerplate about page.";
}

<div class="page-header">
    <h1><span class="fa fa-users"></span> @ViewBag.Title</h1>
</div>

<p>@ViewBag.Description</p>
